.site-footer {
    margin-top: 85px;
    padding: 0 16px;
}

.footer-container {
    display: grid;
    justify-items: center;
}

.footer-logo {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.site-footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 34px;
}

.footer-link {
    color: #d5d5d5;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: white;
    text-decoration: underline;
}

.social-media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    margin-top: 20px;
}

.copyright {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}