*{ box-sizing: border-box; }
.site-header {
    width: 100%;
    padding: 20px 40px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.site-header ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 34px;
}

.header-link {
    color: #d5d5d5;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: white;
    text-decoration: underline;
}

.resume-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    background: linear-gradient(to right,
            #6b8e23 0%,
            #455b16 50%,
            #1e280a 100%);
    transition: 0.3s ease;
}

.button:hover {
    transform: scale(1.05);
}

.resume-btn {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    color: #d5d5d5;
}