#home {
  min-height: 63vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 85px;
}

.intro-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  margin-left: 200px;
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text p {
  margin: 0;
}

.hero-greeting {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;

}

.hero-name {
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 2px;
  padding-left: 20px;
  background: linear-gradient(to right, #6B8E23 0%, #B9B9B9 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.hero-role {
  font-size: 100px;
  font-weight: 600;
  line-height: 0.95;
  letter-spacing: 2px;
}

.hero-role2 {
  font-size: 75px;
  font-weight: 600;
  line-height: 1.05;
  letter-spacing: 2px;
  text-align: end;
}

.hero-para,
.hero-para2 {
  font-size: 22px; 
  line-height: 1.6;
  letter-spacing: 1px;
  max-width: 520px;
  margin-top: 12px;
}

.hire-button {
  margin-top: 22px;
  width: 160px;
  height: 52px;
  border-radius: 10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #6b8e23 0%, #455b16 50%, #1e280a 100%);
  transition: transform 0.2s ease;
}

.hire-button:hover {
  transform: scale(1.05);
}

.hire-btn {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2px;
  color: #d5d5d5;
}

.intro-social-media-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 20px;
}
