@media (max-width: 1024px) {
    #home {
        justify-content: flex-end;
    }

    .hero-name {
        font-size: 38px;
    }

    .hero-role {
        font-size: 81px;
    }
}

@media (max-width: 768px) {
    .intro-container {
        gap: 0;
        margin-left: 50px;
    }

    .hero-greeting {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 3px;
    }

    .hero-name {
        font-size: 35px;
        font-weight: 700;
        line-height: 1.2;
        padding-left: 20px;
    }

    .hero-role {
        font-weight: 600;
        font-size: 75px;
        line-height: 1;
        letter-spacing: 2px;
    }

    .hero-role2 {
        font-weight: 600;
        font-size: 70px;
        line-height: 1;
        letter-spacing: 2px;
        text-align: end;
    }

    .hero-para,
    .hero-para2 {
        font-size: 22px;
        line-height: 1.6;
        letter-spacing: 1px;
        max-width: 520px;
        margin-top: 12px;
    }

    .hire-button {
        margin-top: 22px;
        width: 160px;
        height: 52px;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, #6b8e23 0%, #455b16 50%, #1e280a 100%);
        transition: transform 0.2s ease;
    }

    .hire-button:hover {
        transform: scale(1.05);
    }

    .hire-btn {
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 2px;
        color: #d5d5d5;
    }

    .coding img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 426px) {

    .intro-container,
    .hero-right,
    .intro-social-media-icon {
        display: block;
        width: fit-content;
    }

    #home {
        justify-content: center;
    }

    .intro-container {
        margin-left: 0px;
    }

    .coding img {
        display: none;
    }
}